version: "3.8"
services:
  backend:
    build:
      context: .
      dockerfile: flask_backend/Dockerfile
    ports:
      - "5001:5000" # avoid conflict with local dev server
    environment:
      - FLASK_ENV=production
    volumes:
      - ./instance:/app/instance

  frontend:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        VITE_API_URL: "/api"
    ports:
      - "8081:80"
    depends_on:
      - backend